.error404{ 
    position: relative;
    margin: 10vh 0 0 0;
    width: 90vh;
    height: 70vh;
}
.bg-error{
    background: $greyDark;
}
.title--error404{
    font-size: 1.5rem;
    text-align: center;
    color: $greyDark;
    margin: 5vh 5vh 0vh 5vh;
    font-family: $font-general;
}
.inicio{
    font-family: $font-title;
    font-size: 6rem;
    margin: 8rem;
    color: $grey;
    transition: 0.5s;
    border: solid $greyDark;
    border-radius: 3%;
    &:hover{
        text-decoration: none;
        transition: 0.5s;
        color: $white;
        font-size: 6.5rem;
        margin-top: 2rem;
    }
}

.hola{
    color:red;
}


